nodered1
[{"id":"fdf6bcad.01c","type":"http request","z":"76c2d2fc.d7ed6c","name":"","method":"GET","ret":"txt","url":"","tls":"","x":443.3333435058594,"y":578.888916015625,"wires":[["d436739e.cb376"]]},{"id":"df557bc2.ace888","type":"function","z":"76c2d2fc.d7ed6c","name":"CreateHttpRequest","func":"var API_KEY = \"92B1R1G9K62NLOB3\"\n\nvar newmsg = {};\n\nnewmsg.url = \"https://api.thingspeak.com/channels/164890/fields/1.json?results=10\";\n\nreturn newmsg;\n","outputs":1,"noerr":0,"x":254.33334350585938,"y":578.888916015625,"wires":[["fdf6bcad.01c"]]},{"id":"badf5232.648fc8","type":"inject","z":"76c2d2fc.d7ed6c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":75.33334350585938,"y":579.888916015625,"wires":[["df557bc2.ace888"]]},{"id":"84fdca1f.b96c38","type":"debug","z":"76c2d2fc.d7ed6c","name":"","active":true,"console":"false","complete":"payload","x":974.6667251586914,"y":661.8889007568359,"wires":[]},{"id":"aa839a6a.c155b8","type":"function","z":"76c2d2fc.d7ed6c","name":"ComputeAverage","func":"/* DO NOT MODIFY */\nvar arr = JSON.parse(JSON.stringify(msg.payload.feeds));\nvar num_arr = [];\nfor(i=0;i<10;i++){\n    num_arr[i] = Number(arr[i].field1);  \n}\n/*---------------*/\n\n//NOW num_arr CONTAINS THE LAST 10 VALUES\n//OF YOUR FEED\n\nvar avg = 0;\n\n//INSERT HERE THE CODE TO COMPUTE THE AVERAGE\nfor(i=0;i<10;i++){\n    avg+=num_arr[i];\n}\navg = avg/10;\n\n/*DO NOT MODIFY */\nif(avg>30){\n    msg.payload = \"Alert! The temperature is \" + avg;\n    msg.topic = \"Temperature report\";\n    return msg;\n}\nelse\n    return null;\n/*-------------*/","outputs":1,"noerr":0,"x":750.3333168029785,"y":579.3333549499512,"wires":[["84fdca1f.b96c38","3cbe54a9.23887c"]]},{"id":"d436739e.cb376","type":"json","z":"76c2d2fc.d7ed6c","name":"","x":587.3333435058594,"y":578.888916015625,"wires":[["aa839a6a.c155b8"]]},{"id":"3cbe54a9.23887c","type":"e-mail","z":"76c2d2fc.d7ed6c","server":"smtp.gmail.com","port":"465","name":"","dname":"","x":976.6666666666666,"y":514.4444444444445,"wires":[]}]
