nodered2
[{"id":"38824359.42c71c","type":"inject","z":"bc5ecf79.b0e0e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":212,"y":321,"wires":[["997ca49.635f7d8"]]},{"id":"997ca49.635f7d8","type":"function","z":"bc5ecf79.b0e0e8","name":"","func":"var API_KEY = \"XXXXXXXXXXXX\"\nvar data = Math.random()*10;\nmsg.url = \"https://api.thingspeak.com/update?api_key=\" + API_KEY + \"&field1=\" + data;\nreturn msg;","outputs":1,"noerr":0,"x":366,"y":321,"wires":[["a6fdcf84.5124f","bab1a9b6.e10ac8"]]},{"id":"9b8f4ff4.c808f","type":"debug","z":"bc5ecf79.b0e0e8","name":"","active":true,"console":"false","complete":"false","x":701,"y":322,"wires":[]},{"id":"a6fdcf84.5124f","type":"http request","z":"bc5ecf79.b0e0e8","name":"","method":"GET","ret":"txt","url":"","tls":"","x":528.5,"y":321,"wires":[["9b8f4ff4.c808f"]]},{"id":"bab1a9b6.e10ac8","type":"debug","z":"bc5ecf79.b0e0e8","name":"","active":true,"console":"false","complete":"false","x":603,"y":467,"wires":[]}]
